# só o que você precisa para a DAG
astro-sdk-python[google,postgres]==1.5.3


# Providers e libs extras necessários p/ sua DAG
apache-airflow-providers-google
google-cloud-bigquery
pandas
pandas-gbq
pyarrow
requests
pendulum
